stages:
    - test

image: golang:1.21-bullseye

variables:
    CONTAINER_REF_SLUG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    CONTAINER_REF_SHA: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    KUBECTL_CONTAINER_TAG: "1.16.1-1"

test:
    cache:
        paths:
        - .cache
    stage: test
    tags:
        - lite
    script:
        - apt-get update -y
        - apt-get install -y gcc libcap-dev libacl1-dev
        - mkdir -p .cache
        - export GOPATH="$CI_PROJECT_DIR/.cache"
        - CGO_ENABLED=1 go test -race ./... -v
    only:
        - merge_requests
        - tags
        - develop
        - master

